@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&family=Ubuntu:wght@400;700&display=swap');


:root {
    --color-bg: #5c483a;
    --color-txt: #f1e9bb;
    --color-highlight: #f3c363;
    --color-hover: #EEE0C9; 

    --fonte-primaria: 'Ubuntu', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

body {
    color: var(--color-txt);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 20px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

.cabecalho {
    padding: 1%;
    background-color: rgba(92, 72, 58, 0.9);
    border: solid;
    border-width: 0 0 0.11rem;
    border-color: var(--color-highlight);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
}

.cabecalho__nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho__nav__esq {
    width: 50%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 3rem;
}

.cabecalho__nav__dir {
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    font-family: var(--fonte-primaria);
    /* font-size: 200px; */
    /* color: black; */
}

.cabecalho__nav__dir__item {
    text-decoration: none;
    color: var(--color-highlight);
    font-family: var(--fonte-primaria);
    /* font-size: 200px; */

}   

.content {
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.inicio {
    padding: 5% 0 0 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.content__left {
    width: 50%;
    padding: 10% 0 0 10%;
}

.content__right {
    width: 50%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.foto_giovane {
    width: auto; 
    padding: 1rem 0;
    max-width: 50vh;
    max-height: 50vh;
    height: auto; /* Deixe a altura ajustar automaticamente */
    border-radius: 50%;
    display: block;
    margin: 0 auto; /* Centralize horizontalmente */

}